<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="./assets/style/all.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined">
</head>

<body>
  <header>
    <div class="header bg-primany d-flex justify-content-between align-items-center">
      <h1 class="logo"><a href="index.html">看得清眼鏡</a></h1>
      <ul class="header-nav link-white d-flex flex-wrap">
        <li><a class="text-center" href="product-optical.html">系列鏡框</a></li>
        <li><a class="text-center" href="#">門市據點</a></li>
        <li><a class="text-center" href="#">部落格</a></li>
        <li><a class="text-center" href="faq.html">常見問題</a></li>
      </ul>
    </div>
  </header>

  <main>

    <%- contents %>

  </main>

  <footer class="footer bg-primany text-white link-white">
    <div class="container">
      <div class="footer-top d-flex flex-column mb-7 mb-md-6 mb-sm-7">
        <div class="footer-content d-flex justify-content-between align-items-center mb-7 mb-sm-0">
          <ul class="footer-nav d-flex">
            <li><a href="index.html">首頁</a></li>
            <li><a href="product-optical.html">系列鏡框</a></li>
            <li><a href="#">門市據點</a></li>
            <li><a href="#">部落格</a></li>
            <li><a href="faq.html">常見問題</a></li>
          </ul>
          <ul class="footer-social d-flex">
            <li class="mr-9 mr-md-7"><a href="#"><img src="./assets/images/icon-fb.svg" alt="FB logo"></a></li>
            <li class="mr-9 mr-md-7"><a href="#"><img src="./assets/images/icon-ig.svg" alt="IG logo"></a></li>
            <li><a href="#"><img src="./assets/images/icon-line.svg" alt="LINE logo"></a></li>
          </ul>
        </div>
        <ul class="footer-contact">
          <li class="d-flex align-items-center mb-5 mb-md-4 mb-sm-1">
            <span class="material-icons-outlined mr-5 mr-md-2 mr-sm-1">phone</span>
            <a href="tel:+0800-000-000">0800-000-000</a>
          </li>
          <li class="d-flex align-items-center">
            <span class="material-icons-outlined mr-5 mr-md-2 mr-sm-1">email</span>
            <a href="mailto:glasses@business.com">glasses@business.com</a>
          </li>
        </ul>
      </div>
      <div class="footer-bottom d-flex justify-content-between align-items-center pt-9 pt-md-7 pt-sm-5">
        <p class="mb-sm-2">Copyright © 2020 Glasses.All rights reserved.</p>
        <ul class="footer-privacy d-flex">
          <li class="mb-sm-2"><a href="#">隱私權政策</a></li>
          <li><a href="#">服務條款</a></li>
        </ul>
      </div>
    </div>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>