
*,*::before,*::after{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', 'Noto Sans TC', sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

img{
    max-width: 100%;
    height: aut0;
    vertical-align: middle;
}

a{
    text-decoration: none;
    display: block;
}