@mixin text-hide{
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

@mixin position-center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}