@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap");
/*color*/
/*font*/
/*space*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  line-height: 1.5;
  font-weight: 400; }

img {
  max-width: 100%;
  height: aut0;
  vertical-align: middle; }

a {
  text-decoration: none;
  display: block; }

/*斷點*/
/*container*/
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px; }
  @media (max-width: 992px) {
    .container {
      max-width: 720px; } }
  @media (max-width: 767px) {
    .container {
      max-width: 375px; } }

/*共用元素*/
.d-block {
  display: block; }

.h-100 {
  height: 100%; }

.link-white a {
  color: white; }

/*顏色*/
.bg-primany {
  background: #AA0601; }

.bg-light {
  background: #FBF2F2; }

.bg-brown {
  background: #5F3E2D; }

.bg-orange {
  background: #B75929; }

.text-primary {
  color: #AA0601; }

.text-secondary {
  color: #650300; }

.text-white {
  color: #fff; }

.text-black {
  color: #000; }

.text-gray200 {
  color: #F2F2F2; }

.text-gray300 {
  color: #DEE2E6; }

.text-gray400 {
  color: #CED4DA; }

.text-gray600 {
  color: #707070; }

.text-gray700 {
  color: #555555; }

.text-gray800 {
  color: #373A3C; }

.text-gray900 {
  color: #212529; }

/*文字對齊*/
.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

/*文字標題*/
.title {
  font-size: 64px;
  color: #650300; }
  .title span {
    font-size: 36px; }
  @media (max-width: 992px) {
    .title {
      font-size: 48px; }
      .title span {
        font-size: 20px;
        font-weight: 500; } }
  @media (max-width: 767px) {
    .title {
      font-size: 32px;
      line-height: 45px; }
      .title span {
        font-size: 16px;
        line-height: 1.875; } }

.subtitle {
  font-size: 48px;
  font-weight: 700; }
  @media (max-width: 992px) {
    .subtitle {
      font-size: 32px; } }
  @media (max-width: 767px) {
    .subtitle {
      font-size: 24px; } }

.subtitle-redline {
  font-size: 48px;
  font-weight: 700;
  padding-left: 16px;
  border-left: 8px solid #AA0601; }
  @media (max-width: 992px) {
    .subtitle-redline {
      border-left: 4px solid #AA0601; } }
  @media (max-width: 767px) {
    .subtitle-redline {
      font-size: 28px; } }

/*文字粗細*/
.fw-medium {
  font-weight: 500; }

.fw-bold {
  font-weight: 700; }

.fw-black {
  font-weight: 900; }

/*flex*/
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.justify-content-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.align-items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.align-items-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.align-items-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

/*space*/
.mt-0 {
  margin-top: 0; }

.mt-1 {
  margin-top: 4px; }

.mt-2 {
  margin-top: 8px; }

.mt-3 {
  margin-top: 10px; }

.mt-4 {
  margin-top: 12px; }

.mt-5 {
  margin-top: 16px; }

.mt-6 {
  margin-top: 20px; }

.mt-7 {
  margin-top: 24px; }

.mt-8 {
  margin-top: 30px; }

.mt-9 {
  margin-top: 32px; }

.mt-10 {
  margin-top: 40px; }

.mt-11 {
  margin-top: 52px; }

.mt-12 {
  margin-top: 56px; }

.mt-13 {
  margin-top: 60px; }

.mt-14 {
  margin-top: 64px; }

.mt-15 {
  margin-top: 72px; }

.mt-16 {
  margin-top: 76px; }

.mt-17 {
  margin-top: 80px; }

.mt-18 {
  margin-top: 88px; }

.mt-19 {
  margin-top: 96px; }

.mt-20 {
  margin-top: 104px; }

@media (max-width: 992px) {
  .mt-md-0 {
    margin-top: 0; }
  .mt-md-1 {
    margin-top: 4px; }
  .mt-md-2 {
    margin-top: 8px; }
  .mt-md-3 {
    margin-top: 10px; }
  .mt-md-4 {
    margin-top: 12px; }
  .mt-md-5 {
    margin-top: 16px; }
  .mt-md-6 {
    margin-top: 20px; }
  .mt-md-7 {
    margin-top: 24px; }
  .mt-md-8 {
    margin-top: 30px; }
  .mt-md-9 {
    margin-top: 32px; }
  .mt-md-10 {
    margin-top: 40px; }
  .mt-md-11 {
    margin-top: 52px; }
  .mt-md-12 {
    margin-top: 56px; }
  .mt-md-13 {
    margin-top: 60px; }
  .mt-md-14 {
    margin-top: 64px; }
  .mt-md-15 {
    margin-top: 72px; }
  .mt-md-16 {
    margin-top: 76px; }
  .mt-md-17 {
    margin-top: 80px; }
  .mt-md-18 {
    margin-top: 88px; }
  .mt-md-19 {
    margin-top: 96px; }
  .mt-md-20 {
    margin-top: 104px; } }

@media (max-width: 767px) {
  .mt-sm-0 {
    margin-top: 0; }
  .mt-sm-1 {
    margin-top: 4px; }
  .mt-sm-2 {
    margin-top: 8px; }
  .mt-sm-3 {
    margin-top: 10px; }
  .mt-sm-4 {
    margin-top: 12px; }
  .mt-sm-5 {
    margin-top: 16px; }
  .mt-sm-6 {
    margin-top: 20px; }
  .mt-sm-7 {
    margin-top: 24px; }
  .mt-sm-8 {
    margin-top: 30px; }
  .mt-sm-9 {
    margin-top: 32px; }
  .mt-sm-10 {
    margin-top: 40px; }
  .mt-sm-11 {
    margin-top: 52px; }
  .mt-sm-12 {
    margin-top: 56px; }
  .mt-sm-13 {
    margin-top: 60px; }
  .mt-sm-14 {
    margin-top: 64px; }
  .mt-sm-15 {
    margin-top: 72px; }
  .mt-sm-16 {
    margin-top: 76px; }
  .mt-sm-17 {
    margin-top: 80px; }
  .mt-sm-18 {
    margin-top: 88px; }
  .mt-sm-19 {
    margin-top: 96px; }
  .mt-sm-20 {
    margin-top: 104px; } }

.mb-0 {
  margin-bottom: 0; }

.mb-1 {
  margin-bottom: 4px; }

.mb-2 {
  margin-bottom: 8px; }

.mb-3 {
  margin-bottom: 10px; }

.mb-4 {
  margin-bottom: 12px; }

.mb-5 {
  margin-bottom: 16px; }

.mb-6 {
  margin-bottom: 20px; }

.mb-7 {
  margin-bottom: 24px; }

.mb-8 {
  margin-bottom: 30px; }

.mb-9 {
  margin-bottom: 32px; }

.mb-10 {
  margin-bottom: 40px; }

.mb-11 {
  margin-bottom: 52px; }

.mb-12 {
  margin-bottom: 56px; }

.mb-13 {
  margin-bottom: 60px; }

.mb-14 {
  margin-bottom: 64px; }

.mb-15 {
  margin-bottom: 72px; }

.mb-16 {
  margin-bottom: 76px; }

.mb-17 {
  margin-bottom: 80px; }

.mb-18 {
  margin-bottom: 88px; }

.mb-19 {
  margin-bottom: 96px; }

.mb-20 {
  margin-bottom: 104px; }

@media (max-width: 992px) {
  .mb-md-0 {
    margin-bottom: 0; }
  .mb-md-1 {
    margin-bottom: 4px; }
  .mb-md-2 {
    margin-bottom: 8px; }
  .mb-md-3 {
    margin-bottom: 10px; }
  .mb-md-4 {
    margin-bottom: 12px; }
  .mb-md-5 {
    margin-bottom: 16px; }
  .mb-md-6 {
    margin-bottom: 20px; }
  .mb-md-7 {
    margin-bottom: 24px; }
  .mb-md-8 {
    margin-bottom: 30px; }
  .mb-md-9 {
    margin-bottom: 32px; }
  .mb-md-10 {
    margin-bottom: 40px; }
  .mb-md-11 {
    margin-bottom: 52px; }
  .mb-md-12 {
    margin-bottom: 56px; }
  .mb-md-13 {
    margin-bottom: 60px; }
  .mb-md-14 {
    margin-bottom: 64px; }
  .mb-md-15 {
    margin-bottom: 72px; }
  .mb-md-16 {
    margin-bottom: 76px; }
  .mb-md-17 {
    margin-bottom: 80px; }
  .mb-md-18 {
    margin-bottom: 88px; }
  .mb-md-19 {
    margin-bottom: 96px; }
  .mb-md-20 {
    margin-bottom: 104px; } }

@media (max-width: 767px) {
  .mb-sm-0 {
    margin-bottom: 0; }
  .mb-sm-1 {
    margin-bottom: 4px; }
  .mb-sm-2 {
    margin-bottom: 8px; }
  .mb-sm-3 {
    margin-bottom: 10px; }
  .mb-sm-4 {
    margin-bottom: 12px; }
  .mb-sm-5 {
    margin-bottom: 16px; }
  .mb-sm-6 {
    margin-bottom: 20px; }
  .mb-sm-7 {
    margin-bottom: 24px; }
  .mb-sm-8 {
    margin-bottom: 30px; }
  .mb-sm-9 {
    margin-bottom: 32px; }
  .mb-sm-10 {
    margin-bottom: 40px; }
  .mb-sm-11 {
    margin-bottom: 52px; }
  .mb-sm-12 {
    margin-bottom: 56px; }
  .mb-sm-13 {
    margin-bottom: 60px; }
  .mb-sm-14 {
    margin-bottom: 64px; }
  .mb-sm-15 {
    margin-bottom: 72px; }
  .mb-sm-16 {
    margin-bottom: 76px; }
  .mb-sm-17 {
    margin-bottom: 80px; }
  .mb-sm-18 {
    margin-bottom: 88px; }
  .mb-sm-19 {
    margin-bottom: 96px; }
  .mb-sm-20 {
    margin-bottom: 104px; } }

.ml-0 {
  margin-left: 0; }

.ml-1 {
  margin-left: 4px; }

.ml-2 {
  margin-left: 8px; }

.ml-3 {
  margin-left: 10px; }

.ml-4 {
  margin-left: 12px; }

.ml-5 {
  margin-left: 16px; }

.ml-6 {
  margin-left: 20px; }

.ml-7 {
  margin-left: 24px; }

.ml-8 {
  margin-left: 30px; }

.ml-9 {
  margin-left: 32px; }

.ml-10 {
  margin-left: 40px; }

.ml-11 {
  margin-left: 52px; }

.ml-12 {
  margin-left: 56px; }

.ml-13 {
  margin-left: 60px; }

.ml-14 {
  margin-left: 64px; }

.ml-15 {
  margin-left: 72px; }

.ml-16 {
  margin-left: 76px; }

.ml-17 {
  margin-left: 80px; }

.ml-18 {
  margin-left: 88px; }

.ml-19 {
  margin-left: 96px; }

.ml-20 {
  margin-left: 104px; }

@media (max-width: 992px) {
  .ml-md-0 {
    margin-left: 0; }
  .ml-md-1 {
    margin-left: 4px; }
  .ml-md-2 {
    margin-left: 8px; }
  .ml-md-3 {
    margin-left: 10px; }
  .ml-md-4 {
    margin-left: 12px; }
  .ml-md-5 {
    margin-left: 16px; }
  .ml-md-6 {
    margin-left: 20px; }
  .ml-md-7 {
    margin-left: 24px; }
  .ml-md-8 {
    margin-left: 30px; }
  .ml-md-9 {
    margin-left: 32px; }
  .ml-md-10 {
    margin-left: 40px; }
  .ml-md-11 {
    margin-left: 52px; }
  .ml-md-12 {
    margin-left: 56px; }
  .ml-md-13 {
    margin-left: 60px; }
  .ml-md-14 {
    margin-left: 64px; }
  .ml-md-15 {
    margin-left: 72px; }
  .ml-md-16 {
    margin-left: 76px; }
  .ml-md-17 {
    margin-left: 80px; }
  .ml-md-18 {
    margin-left: 88px; }
  .ml-md-19 {
    margin-left: 96px; }
  .ml-md-20 {
    margin-left: 104px; } }

@media (max-width: 767px) {
  .ml-sm-0 {
    margin-left: 0; }
  .ml-sm-1 {
    margin-left: 4px; }
  .ml-sm-2 {
    margin-left: 8px; }
  .ml-sm-3 {
    margin-left: 10px; }
  .ml-sm-4 {
    margin-left: 12px; }
  .ml-sm-5 {
    margin-left: 16px; }
  .ml-sm-6 {
    margin-left: 20px; }
  .ml-sm-7 {
    margin-left: 24px; }
  .ml-sm-8 {
    margin-left: 30px; }
  .ml-sm-9 {
    margin-left: 32px; }
  .ml-sm-10 {
    margin-left: 40px; }
  .ml-sm-11 {
    margin-left: 52px; }
  .ml-sm-12 {
    margin-left: 56px; }
  .ml-sm-13 {
    margin-left: 60px; }
  .ml-sm-14 {
    margin-left: 64px; }
  .ml-sm-15 {
    margin-left: 72px; }
  .ml-sm-16 {
    margin-left: 76px; }
  .ml-sm-17 {
    margin-left: 80px; }
  .ml-sm-18 {
    margin-left: 88px; }
  .ml-sm-19 {
    margin-left: 96px; }
  .ml-sm-20 {
    margin-left: 104px; } }

.mr-0 {
  margin-right: 0; }

.mr-1 {
  margin-right: 4px; }

.mr-2 {
  margin-right: 8px; }

.mr-3 {
  margin-right: 10px; }

.mr-4 {
  margin-right: 12px; }

.mr-5 {
  margin-right: 16px; }

.mr-6 {
  margin-right: 20px; }

.mr-7 {
  margin-right: 24px; }

.mr-8 {
  margin-right: 30px; }

.mr-9 {
  margin-right: 32px; }

.mr-10 {
  margin-right: 40px; }

.mr-11 {
  margin-right: 52px; }

.mr-12 {
  margin-right: 56px; }

.mr-13 {
  margin-right: 60px; }

.mr-14 {
  margin-right: 64px; }

.mr-15 {
  margin-right: 72px; }

.mr-16 {
  margin-right: 76px; }

.mr-17 {
  margin-right: 80px; }

.mr-18 {
  margin-right: 88px; }

.mr-19 {
  margin-right: 96px; }

.mr-20 {
  margin-right: 104px; }

@media (max-width: 992px) {
  .mr-md-0 {
    margin-right: 0; }
  .mr-md-1 {
    margin-right: 4px; }
  .mr-md-2 {
    margin-right: 8px; }
  .mr-md-3 {
    margin-right: 10px; }
  .mr-md-4 {
    margin-right: 12px; }
  .mr-md-5 {
    margin-right: 16px; }
  .mr-md-6 {
    margin-right: 20px; }
  .mr-md-7 {
    margin-right: 24px; }
  .mr-md-8 {
    margin-right: 30px; }
  .mr-md-9 {
    margin-right: 32px; }
  .mr-md-10 {
    margin-right: 40px; }
  .mr-md-11 {
    margin-right: 52px; }
  .mr-md-12 {
    margin-right: 56px; }
  .mr-md-13 {
    margin-right: 60px; }
  .mr-md-14 {
    margin-right: 64px; }
  .mr-md-15 {
    margin-right: 72px; }
  .mr-md-16 {
    margin-right: 76px; }
  .mr-md-17 {
    margin-right: 80px; }
  .mr-md-18 {
    margin-right: 88px; }
  .mr-md-19 {
    margin-right: 96px; }
  .mr-md-20 {
    margin-right: 104px; } }

@media (max-width: 767px) {
  .mr-sm-0 {
    margin-right: 0; }
  .mr-sm-1 {
    margin-right: 4px; }
  .mr-sm-2 {
    margin-right: 8px; }
  .mr-sm-3 {
    margin-right: 10px; }
  .mr-sm-4 {
    margin-right: 12px; }
  .mr-sm-5 {
    margin-right: 16px; }
  .mr-sm-6 {
    margin-right: 20px; }
  .mr-sm-7 {
    margin-right: 24px; }
  .mr-sm-8 {
    margin-right: 30px; }
  .mr-sm-9 {
    margin-right: 32px; }
  .mr-sm-10 {
    margin-right: 40px; }
  .mr-sm-11 {
    margin-right: 52px; }
  .mr-sm-12 {
    margin-right: 56px; }
  .mr-sm-13 {
    margin-right: 60px; }
  .mr-sm-14 {
    margin-right: 64px; }
  .mr-sm-15 {
    margin-right: 72px; }
  .mr-sm-16 {
    margin-right: 76px; }
  .mr-sm-17 {
    margin-right: 80px; }
  .mr-sm-18 {
    margin-right: 88px; }
  .mr-sm-19 {
    margin-right: 96px; }
  .mr-sm-20 {
    margin-right: 104px; } }

.pt-0 {
  padding-top: 0; }

.pt-1 {
  padding-top: 4px; }

.pt-2 {
  padding-top: 8px; }

.pt-3 {
  padding-top: 10px; }

.pt-4 {
  padding-top: 12px; }

.pt-5 {
  padding-top: 16px; }

.pt-6 {
  padding-top: 20px; }

.pt-7 {
  padding-top: 24px; }

.pt-8 {
  padding-top: 30px; }

.pt-9 {
  padding-top: 32px; }

.pt-10 {
  padding-top: 40px; }

.pt-11 {
  padding-top: 52px; }

.pt-12 {
  padding-top: 56px; }

.pt-13 {
  padding-top: 60px; }

.pt-14 {
  padding-top: 64px; }

.pt-15 {
  padding-top: 72px; }

.pt-16 {
  padding-top: 76px; }

.pt-17 {
  padding-top: 80px; }

.pt-18 {
  padding-top: 88px; }

.pt-19 {
  padding-top: 96px; }

.pt-20 {
  padding-top: 104px; }

@media (max-width: 992px) {
  .pt-md-0 {
    padding-top: 0; }
  .pt-md-1 {
    padding-top: 4px; }
  .pt-md-2 {
    padding-top: 8px; }
  .pt-md-3 {
    padding-top: 10px; }
  .pt-md-4 {
    padding-top: 12px; }
  .pt-md-5 {
    padding-top: 16px; }
  .pt-md-6 {
    padding-top: 20px; }
  .pt-md-7 {
    padding-top: 24px; }
  .pt-md-8 {
    padding-top: 30px; }
  .pt-md-9 {
    padding-top: 32px; }
  .pt-md-10 {
    padding-top: 40px; }
  .pt-md-11 {
    padding-top: 52px; }
  .pt-md-12 {
    padding-top: 56px; }
  .pt-md-13 {
    padding-top: 60px; }
  .pt-md-14 {
    padding-top: 64px; }
  .pt-md-15 {
    padding-top: 72px; }
  .pt-md-16 {
    padding-top: 76px; }
  .pt-md-17 {
    padding-top: 80px; }
  .pt-md-18 {
    padding-top: 88px; }
  .pt-md-19 {
    padding-top: 96px; }
  .pt-md-20 {
    padding-top: 104px; } }

@media (max-width: 767px) {
  .pt-sm-0 {
    padding-top: 0; }
  .pt-sm-1 {
    padding-top: 4px; }
  .pt-sm-2 {
    padding-top: 8px; }
  .pt-sm-3 {
    padding-top: 10px; }
  .pt-sm-4 {
    padding-top: 12px; }
  .pt-sm-5 {
    padding-top: 16px; }
  .pt-sm-6 {
    padding-top: 20px; }
  .pt-sm-7 {
    padding-top: 24px; }
  .pt-sm-8 {
    padding-top: 30px; }
  .pt-sm-9 {
    padding-top: 32px; }
  .pt-sm-10 {
    padding-top: 40px; }
  .pt-sm-11 {
    padding-top: 52px; }
  .pt-sm-12 {
    padding-top: 56px; }
  .pt-sm-13 {
    padding-top: 60px; }
  .pt-sm-14 {
    padding-top: 64px; }
  .pt-sm-15 {
    padding-top: 72px; }
  .pt-sm-16 {
    padding-top: 76px; }
  .pt-sm-17 {
    padding-top: 80px; }
  .pt-sm-18 {
    padding-top: 88px; }
  .pt-sm-19 {
    padding-top: 96px; }
  .pt-sm-20 {
    padding-top: 104px; } }

.pb-0 {
  padding-bottom: 0; }

.pb-1 {
  padding-bottom: 4px; }

.pb-2 {
  padding-bottom: 8px; }

.pb-3 {
  padding-bottom: 10px; }

.pb-4 {
  padding-bottom: 12px; }

.pb-5 {
  padding-bottom: 16px; }

.pb-6 {
  padding-bottom: 20px; }

.pb-7 {
  padding-bottom: 24px; }

.pb-8 {
  padding-bottom: 30px; }

.pb-9 {
  padding-bottom: 32px; }

.pb-10 {
  padding-bottom: 40px; }

.pb-11 {
  padding-bottom: 52px; }

.pb-12 {
  padding-bottom: 56px; }

.pb-13 {
  padding-bottom: 60px; }

.pb-14 {
  padding-bottom: 64px; }

.pb-15 {
  padding-bottom: 72px; }

.pb-16 {
  padding-bottom: 76px; }

.pb-17 {
  padding-bottom: 80px; }

.pb-18 {
  padding-bottom: 88px; }

.pb-19 {
  padding-bottom: 96px; }

.pb-20 {
  padding-bottom: 104px; }

@media (max-width: 992px) {
  .pb-md-0 {
    padding-bottom: 0; }
  .pb-md-1 {
    padding-bottom: 4px; }
  .pb-md-2 {
    padding-bottom: 8px; }
  .pb-md-3 {
    padding-bottom: 10px; }
  .pb-md-4 {
    padding-bottom: 12px; }
  .pb-md-5 {
    padding-bottom: 16px; }
  .pb-md-6 {
    padding-bottom: 20px; }
  .pb-md-7 {
    padding-bottom: 24px; }
  .pb-md-8 {
    padding-bottom: 30px; }
  .pb-md-9 {
    padding-bottom: 32px; }
  .pb-md-10 {
    padding-bottom: 40px; }
  .pb-md-11 {
    padding-bottom: 52px; }
  .pb-md-12 {
    padding-bottom: 56px; }
  .pb-md-13 {
    padding-bottom: 60px; }
  .pb-md-14 {
    padding-bottom: 64px; }
  .pb-md-15 {
    padding-bottom: 72px; }
  .pb-md-16 {
    padding-bottom: 76px; }
  .pb-md-17 {
    padding-bottom: 80px; }
  .pb-md-18 {
    padding-bottom: 88px; }
  .pb-md-19 {
    padding-bottom: 96px; }
  .pb-md-20 {
    padding-bottom: 104px; } }

@media (max-width: 767px) {
  .pb-sm-0 {
    padding-bottom: 0; }
  .pb-sm-1 {
    padding-bottom: 4px; }
  .pb-sm-2 {
    padding-bottom: 8px; }
  .pb-sm-3 {
    padding-bottom: 10px; }
  .pb-sm-4 {
    padding-bottom: 12px; }
  .pb-sm-5 {
    padding-bottom: 16px; }
  .pb-sm-6 {
    padding-bottom: 20px; }
  .pb-sm-7 {
    padding-bottom: 24px; }
  .pb-sm-8 {
    padding-bottom: 30px; }
  .pb-sm-9 {
    padding-bottom: 32px; }
  .pb-sm-10 {
    padding-bottom: 40px; }
  .pb-sm-11 {
    padding-bottom: 52px; }
  .pb-sm-12 {
    padding-bottom: 56px; }
  .pb-sm-13 {
    padding-bottom: 60px; }
  .pb-sm-14 {
    padding-bottom: 64px; }
  .pb-sm-15 {
    padding-bottom: 72px; }
  .pb-sm-16 {
    padding-bottom: 76px; }
  .pb-sm-17 {
    padding-bottom: 80px; }
  .pb-sm-18 {
    padding-bottom: 88px; }
  .pb-sm-19 {
    padding-bottom: 96px; }
  .pb-sm-20 {
    padding-bottom: 104px; } }

.pl-0 {
  padding-left: 0; }

.pl-1 {
  padding-left: 4px; }

.pl-2 {
  padding-left: 8px; }

.pl-3 {
  padding-left: 10px; }

.pl-4 {
  padding-left: 12px; }

.pl-5 {
  padding-left: 16px; }

.pl-6 {
  padding-left: 20px; }

.pl-7 {
  padding-left: 24px; }

.pl-8 {
  padding-left: 30px; }

.pl-9 {
  padding-left: 32px; }

.pl-10 {
  padding-left: 40px; }

.pl-11 {
  padding-left: 52px; }

.pl-12 {
  padding-left: 56px; }

.pl-13 {
  padding-left: 60px; }

.pl-14 {
  padding-left: 64px; }

.pl-15 {
  padding-left: 72px; }

.pl-16 {
  padding-left: 76px; }

.pl-17 {
  padding-left: 80px; }

.pl-18 {
  padding-left: 88px; }

.pl-19 {
  padding-left: 96px; }

.pl-20 {
  padding-left: 104px; }

@media (max-width: 992px) {
  .pl-md-0 {
    padding-left: 0; }
  .pl-md-1 {
    padding-left: 4px; }
  .pl-md-2 {
    padding-left: 8px; }
  .pl-md-3 {
    padding-left: 10px; }
  .pl-md-4 {
    padding-left: 12px; }
  .pl-md-5 {
    padding-left: 16px; }
  .pl-md-6 {
    padding-left: 20px; }
  .pl-md-7 {
    padding-left: 24px; }
  .pl-md-8 {
    padding-left: 30px; }
  .pl-md-9 {
    padding-left: 32px; }
  .pl-md-10 {
    padding-left: 40px; }
  .pl-md-11 {
    padding-left: 52px; }
  .pl-md-12 {
    padding-left: 56px; }
  .pl-md-13 {
    padding-left: 60px; }
  .pl-md-14 {
    padding-left: 64px; }
  .pl-md-15 {
    padding-left: 72px; }
  .pl-md-16 {
    padding-left: 76px; }
  .pl-md-17 {
    padding-left: 80px; }
  .pl-md-18 {
    padding-left: 88px; }
  .pl-md-19 {
    padding-left: 96px; }
  .pl-md-20 {
    padding-left: 104px; } }

@media (max-width: 767px) {
  .pl-sm-0 {
    padding-left: 0; }
  .pl-sm-1 {
    padding-left: 4px; }
  .pl-sm-2 {
    padding-left: 8px; }
  .pl-sm-3 {
    padding-left: 10px; }
  .pl-sm-4 {
    padding-left: 12px; }
  .pl-sm-5 {
    padding-left: 16px; }
  .pl-sm-6 {
    padding-left: 20px; }
  .pl-sm-7 {
    padding-left: 24px; }
  .pl-sm-8 {
    padding-left: 30px; }
  .pl-sm-9 {
    padding-left: 32px; }
  .pl-sm-10 {
    padding-left: 40px; }
  .pl-sm-11 {
    padding-left: 52px; }
  .pl-sm-12 {
    padding-left: 56px; }
  .pl-sm-13 {
    padding-left: 60px; }
  .pl-sm-14 {
    padding-left: 64px; }
  .pl-sm-15 {
    padding-left: 72px; }
  .pl-sm-16 {
    padding-left: 76px; }
  .pl-sm-17 {
    padding-left: 80px; }
  .pl-sm-18 {
    padding-left: 88px; }
  .pl-sm-19 {
    padding-left: 96px; }
  .pl-sm-20 {
    padding-left: 104px; } }

.pr-0 {
  padding-right: 0; }

.pr-1 {
  padding-right: 4px; }

.pr-2 {
  padding-right: 8px; }

.pr-3 {
  padding-right: 10px; }

.pr-4 {
  padding-right: 12px; }

.pr-5 {
  padding-right: 16px; }

.pr-6 {
  padding-right: 20px; }

.pr-7 {
  padding-right: 24px; }

.pr-8 {
  padding-right: 30px; }

.pr-9 {
  padding-right: 32px; }

.pr-10 {
  padding-right: 40px; }

.pr-11 {
  padding-right: 52px; }

.pr-12 {
  padding-right: 56px; }

.pr-13 {
  padding-right: 60px; }

.pr-14 {
  padding-right: 64px; }

.pr-15 {
  padding-right: 72px; }

.pr-16 {
  padding-right: 76px; }

.pr-17 {
  padding-right: 80px; }

.pr-18 {
  padding-right: 88px; }

.pr-19 {
  padding-right: 96px; }

.pr-20 {
  padding-right: 104px; }

@media (max-width: 992px) {
  .pr-md-0 {
    padding-right: 0; }
  .pr-md-1 {
    padding-right: 4px; }
  .pr-md-2 {
    padding-right: 8px; }
  .pr-md-3 {
    padding-right: 10px; }
  .pr-md-4 {
    padding-right: 12px; }
  .pr-md-5 {
    padding-right: 16px; }
  .pr-md-6 {
    padding-right: 20px; }
  .pr-md-7 {
    padding-right: 24px; }
  .pr-md-8 {
    padding-right: 30px; }
  .pr-md-9 {
    padding-right: 32px; }
  .pr-md-10 {
    padding-right: 40px; }
  .pr-md-11 {
    padding-right: 52px; }
  .pr-md-12 {
    padding-right: 56px; }
  .pr-md-13 {
    padding-right: 60px; }
  .pr-md-14 {
    padding-right: 64px; }
  .pr-md-15 {
    padding-right: 72px; }
  .pr-md-16 {
    padding-right: 76px; }
  .pr-md-17 {
    padding-right: 80px; }
  .pr-md-18 {
    padding-right: 88px; }
  .pr-md-19 {
    padding-right: 96px; }
  .pr-md-20 {
    padding-right: 104px; } }

@media (max-width: 767px) {
  .pr-sm-0 {
    padding-right: 0; }
  .pr-sm-1 {
    padding-right: 4px; }
  .pr-sm-2 {
    padding-right: 8px; }
  .pr-sm-3 {
    padding-right: 10px; }
  .pr-sm-4 {
    padding-right: 12px; }
  .pr-sm-5 {
    padding-right: 16px; }
  .pr-sm-6 {
    padding-right: 20px; }
  .pr-sm-7 {
    padding-right: 24px; }
  .pr-sm-8 {
    padding-right: 30px; }
  .pr-sm-9 {
    padding-right: 32px; }
  .pr-sm-10 {
    padding-right: 40px; }
  .pr-sm-11 {
    padding-right: 52px; }
  .pr-sm-12 {
    padding-right: 56px; }
  .pr-sm-13 {
    padding-right: 60px; }
  .pr-sm-14 {
    padding-right: 64px; }
  .pr-sm-15 {
    padding-right: 72px; }
  .pr-sm-16 {
    padding-right: 76px; }
  .pr-sm-17 {
    padding-right: 80px; }
  .pr-sm-18 {
    padding-right: 88px; }
  .pr-sm-19 {
    padding-right: 96px; }
  .pr-sm-20 {
    padding-right: 104px; } }

/*header*/
.header {
  padding: 30px 56px 30px 88px; }
  @media (max-width: 992px) {
    .header {
      padding: 30px 20px 30px 40px; } }
  @media (max-width: 767px) {
    .header {
      padding: 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .header .logo {
    background-image: url(../images/logo.png);
    width: 80px;
    height: 49px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap; }
    @media (max-width: 767px) {
      .header .logo {
        background-image: url(../images/logo-s.png);
        width: 48px;
        height: 29px;
        margin: 10px 0; } }

.header-nav li a {
  font-size: 20px;
  padding: 0 32px; }
  .header-nav li a:hover {
    color: rgba(255, 255, 255, 0.5); }

@media (max-width: 992px) {
  .header-nav li a {
    padding: 0 20px; } }

@media (max-width: 767px) {
  .header-nav {
    width: 100%; }
    .header-nav li {
      width: 50%;
      border: 1px solid #fff; }
      .header-nav li a {
        padding: 8px 0; }
        .header-nav li a:hover {
          background: #fff;
          color: #AA0601; } }

/*footer*/
.footer {
  padding: 32px 0 39px; }
  .footer-nav li {
    margin-right: 48px; }
    .footer-nav li:last-child {
      margin-right: 0; }
    .footer-nav li a:hover {
      opacity: 0.5; }
  .footer-social li a:hover {
    opacity: 0.5; }
  .footer-social li img {
    width: 48px;
    height: 48px; }
  .footer-contact li span {
    font-size: 48px; }
  .footer-contact li a {
    font-size: 36px;
    display: inline-block; }
  .footer-contact li a:hover {
    opacity: 0.5; }
  .footer-bottom {
    border-top: 1px solid white; }
  .footer-privacy li {
    margin-right: 48px; }
    .footer-privacy li:last-child {
      margin-right: 0; }
    .footer-privacy li a {
      font-size: 14px; }
    .footer-privacy li a:hover {
      opacity: 0.5; }

@media (max-width: 992px) {
  .footer {
    padding: 32px 0; }
    .footer-nav li {
      margin-right: 40px; }
      .footer-nav li:last-child {
        margin-right: 0; }
    .footer-social li img {
      width: 24px;
      height: 24px; }
    .footer-contact li span {
      font-size: 24px; }
    .footer-contact li a {
      font-size: 20px; }
    .footer-privacy li {
      margin-right: 24px; } }

@media (max-width: 767px) {
  .footer {
    padding: 24px 0; }
    .footer-top {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
    .footer-nav {
      display: none; }
    .footer-contact li span {
      font-size: 20px; }
    .footer-contact li a {
      font-size: 16px; }
    .footer-bottom {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .footer-bottom p {
        font-size: 14px; }
    .footer-privacy {
      margin-right: 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

/*banner*/
.banner {
  background-image: url(../images/banner.png);
  background-size: cover;
  background-position: center center;
  height: 840px; }
  @media (max-width: 992px) {
    .banner {
      background-image: url(../images/banner-sm.png); } }
  @media (max-width: 767px) {
    .banner {
      height: 394px; } }

/*about*/
.about {
  padding: 60px 0 80px; }
  .about-list {
    gap: 30px; }
    .about-list li {
      width: calc((100% - (30px * 3)) / 4); }
      .about-list li span {
        font-size: 100px; }
      .about-list li h4 {
        font-size: 24px; }
  @media (max-width: 992px) {
    .about {
      padding: 40px 0 56px; }
      .about-list {
        gap: 0px; }
        .about-list li {
          width: 37%; } }
  @media (max-width: 767px) {
    .about {
      padding: 32px 0 40px; }
      .about-list li {
        width: 70%; } }

/*classic*/
.classic {
  padding: 60px 0 80px; }
  @media (max-width: 992px) {
    .classic {
      padding: 40px 0 56px; } }
  @media (max-width: 767px) {
    .classic {
      padding: 32px 0 40px; } }

.classic-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .classic-list li:nth-child(2) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
  .classic-list li img {
    width: 57.2%;
    height: 320px;
    -o-object-fit: cover;
       object-fit: cover; }

@media (max-width: 992px) {
  .classic-list li:nth-child(2) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .classic-list li img {
    width: 56.5%;
    height: 168px; } }

@media (max-width: 767px) {
  .classic-list li {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .classic-list li:nth-child(2) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .classic-list li img {
      width: 100%;
      height: 134px; } }

.classic-text span {
  font-size: 48px; }

.classic-text h4 {
  font-size: 48px;
  font-style: italic; }

@media (max-width: 992px) {
  .classic-text span {
    font-size: 40px; }
  .classic-text h4 {
    font-size: 28px; } }

@media (max-width: 767px) {
  .classic-text {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); } }

/*cobranding*/
.cobranding {
  background-image: url(../images/bg.png);
  background-size: cover;
  background-position: center center;
  padding: 60px 0 80px; }
  .cobranding-item {
    width: calc((100% - 30px) / 2);
    position: relative;
    background-color: white; }
    .cobranding-item img {
      width: 100%;
      height: 455px;
      -o-object-fit: cover;
         object-fit: cover;
      opacity: .5; }
    .cobranding-item h4 {
      font-size: 72px;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      white-space: nowrap; }
  @media (max-width: 992px) {
    .cobranding {
      padding: 40px 0 56px; }
      .cobranding-item img {
        height: 278px; }
      .cobranding-item h4 {
        font-size: 32px; } }
  @media (max-width: 767px) {
    .cobranding {
      padding: 32px 0 40px; }
      .cobranding-item {
        width: 100%; }
        .cobranding-item img {
          height: 291px; } }

/*recommend*/
.recommend {
  padding: 60px 0 80px; }
  .recommend-item {
    border-radius: 4px;
    overflow: hidden;
    -webkit-box-shadow: 0px 2px 6px #00000029;
            box-shadow: 0px 2px 6px #00000029;
    width: calc((100% - (30px * 3)) / 4); }
  .recommend-pic {
    width: 100%;
    height: 256px;
    -o-object-fit: cover;
       object-fit: cover; }
  .recommend-text {
    border: 1px solid #DEE2E6;
    padding: 16px;
    height: 204px; }
    .recommend-text span {
      font-size: 14px; }
    .recommend-text time {
      font-size: 14px; }
  @media (max-width: 992px) {
    .recommend {
      padding: 40px 0 56px; }
      .recommend-item {
        width: calc((100% - 30px) / 2); } }
  @media (max-width: 767px) {
    .recommend {
      padding: 32px 0 24px; }
      .recommend-item {
        width: 100%; } }

/*contant*/
.contant {
  padding: 60px 0 80px; }
  @media (max-width: 992px) {
    .contant {
      padding: 40px 0 56px; } }
  @media (max-width: 767px) {
    .contant {
      padding: 30px 0 40px; } }
  .contant .container {
    max-width: 760px; }
    @media (max-width: 992px) {
      .contant .container {
        max-width: 480px; } }
    @media (max-width: 767px) {
      .contant .container {
        max-width: 375px; } }
  .contant-describe {
    font-size: 20px; }
    @media (max-width: 992px) {
      .contant-describe {
        font-size: 16px; } }
  .contant-item input, .contant-item textarea {
    padding: 14px 16px;
    background: transparent;
    border: 1px solid black; }
  @media (max-width: 992px) {
    .contant-item {
      font-size: 14px; }
      .contant-item input, .contant-item textarea {
        padding: 8px 12px; } }
  .contant-submit {
    margin: 0 auto;
    background: #AA0601;
    color: white;
    width: 50%;
    padding: 16px 0;
    font-size: 16px;
    border: none;
    cursor: pointer; }
    .contant-submit:hover {
      background: #650300; }
    @media (max-width: 992px) {
      .contant-submit {
        font-size: 14px;
        padding: 10px 0; } }
    @media (max-width: 767px) {
      .contant-submit {
        padding: 8px 0; } }

/*product menu*/
.product-menu-item {
  width: calc(100% / 3);
  border-left: 1px solid #DCDCDC;
  border-right: 1px solid #DCDCDC; }
  .product-menu-item a {
    padding: 24px 0 16px;
    border-bottom: 8px solid transparent; }
    .product-menu-item a:hover {
      border-bottom: 8px solid #AA0601; }
    .product-menu-item a span {
      font-size: 48px; }
    .product-menu-item a P {
      font-size: 32px; }
  .product-menu-item .active {
    border-bottom: 8px solid #AA0601; }

@media (max-width: 992px) {
  .product-menu-item a {
    padding: 16px 0 8px; }
    .product-menu-item a span {
      font-size: 32px; }
    .product-menu-item a p {
      font-size: 24px; } }

@media (max-width: 767px) {
  .product-menu-item a {
    padding: 8px 0 4px;
    border-bottom: 4px solid transparent; }
    .product-menu-item a:hover {
      border-bottom: 4px solid #AA0601; }
    .product-menu-item a span {
      font-size: 16px;
      margin-right: 2px; }
    .product-menu-item a p {
      font-size: 14px; }
  .product-menu-item .active {
    border-bottom: 4px solid #AA0601; } }

/*product optical*/
.product-op-banner img {
  width: 50%;
  height: 304px;
  -o-object-fit: cover;
     object-fit: cover; }

.product-op-title span {
  font-size: 42px; }

.product-op-title p {
  font-size: 32px; }

.product-op-item {
  width: calc((100% - (30px * 3)) / 4);
  margin-bottom: 104px; }
  .product-op-item img {
    width: 100%;
    height: 164px;
    -o-object-fit: cover;
       object-fit: cover; }

.product-op-text {
  font-size: 24px; }

.product-op-color {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  margin-right: 8px; }

@media (max-width: 992px) {
  .product-op-title span {
    font-size: 32px; }
  .product-op-title p {
    font-size: 24px; }
  .product-op-item {
    width: calc((100% - 30px) / 2);
    margin-bottom: 72px; } }

@media (max-width: 767px) {
  .product-op-banner img {
    height: 148px; }
  .product-op-title span {
    font-size: 20px; }
  .product-op-title p {
    font-size: 16px; }
  .product-op-item {
    width: 100%;
    margin-bottom: 32px; }
    .product-op-item img {
      height: 166px; }
  .product-op-text {
    font-size: 16px; }
  .product-op-color {
    width: 16px;
    height: 16px;
    margin-right: 4px; } }

/*pagination*/
.pagination {
  margin-bottom: 160px; }
  .pagination-list {
    font-size: 18px; }
  .pagination-change {
    padding: 12px 16px;
    border: 1px solid #555555;
    background: #F2F2F2;
    color: #555555; }
    .pagination-change:hover {
      background: #000;
      color: #fff; }
  .pagination-number {
    padding: 12px 16px;
    border: 1px solid #555555;
    color: #555555; }
    .pagination-number:hover {
      background: #000;
      color: #fff; }
  .pagination .active {
    background: #000;
    color: #fff; }

@media (max-width: 992px) {
  .pagination {
    margin-bottom: 96px; } }

@media (max-width: 767px) {
  .pagination {
    margin-bottom: 56px; }
    .pagination-list {
      font-size: 16px; }
    .pagination-change {
      padding: 12px; }
    .pagination-number {
      padding: 12px; } }

/*product sunglasses*/
.product-sun-banner img {
  width: 50%;
  height: 304px;
  -o-object-fit: cover;
     object-fit: cover; }

.product-sun-title span {
  font-size: 42px; }

.product-sun-title p {
  font-size: 32px; }

.product-sun-item {
  width: calc((100% - (30px * 2)) / 3);
  margin-bottom: 104px; }
  .product-sun-item img {
    width: 100%;
    height: 224px;
    -o-object-fit: cover;
       object-fit: cover; }

.product-sun-text {
  font-size: 24px; }

.product-sun-color {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  margin-right: 8px; }

@media (max-width: 992px) {
  .product-sun-title span {
    font-size: 32px; }
  .product-sun-title p {
    font-size: 24px; }
  .product-sun-item {
    width: calc((100% - 30px) / 2);
    margin-bottom: 72px; }
    .product-sun-item img {
      height: 164px; } }

@media (max-width: 767px) {
  .product-sun-banner img {
    height: 148px; }
  .product-sun-title span {
    font-size: 20px; }
  .product-sun-title p {
    font-size: 16px; }
  .product-sun-item {
    width: 100%;
    margin-bottom: 32px; }
    .product-sun-item img {
      height: 166px; }
  .product-sun-text {
    font-size: 16px; }
  .product-sun-color {
    width: 16px;
    height: 16px;
    margin-right: 4px; } }

/*faq*/
.faq {
  padding: 96px 0 160px; }
  .faq-type {
    font-size: 32px;
    margin-bottom: 36px; }
  .faq-question {
    font-size: 20px; }
  .faq-answer {
    margin: 0 8.55%; }
  @media (max-width: 992px) {
    .faq {
      padding: 60px 0 96px; }
      .faq-type {
        margin-bottom: 32px; }
      .faq-answer {
        margin: 0 0 0 8.7%; } }
  @media (max-width: 767px) {
    .faq {
      padding: 28px 0 56px; }
      .faq-type {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 24px; }
      .faq-question {
        font-size: 16px; }
      .faq-answer {
        font-size: 14px; } }

/*# sourceMappingURL=all.css.map */
